thead tr {
    border-color: black;
}
#cards {
}
.card {
  width: 175px;
  height: 275px;
  margin: 5px;
  display: inline-block;
  background-color: lightgray;
  padding: 5px;
  text-align: center;
}
#tiles {
  width: 175px;
  height: 40px;
  display: inline-table;
  text-align: center;
}
.tile-users {
  border:1px solid black;
  margin: 5px;
    width: 170px;
    height: 60px;
}
.tile-head{
  background-color: lightgray;
}