<h1>View page</h1>
<button [disabled]='isTable' (click)="showTable()">table</button>
<button [disabled]='isCards' (click)="showCards()">cards</button>
<button [disabled]='isTiles' (click)="showTiles()">tiles</button>
<br/>
<br/>
<div>
    <label>Search by:</label>
    <select name="searchFilter" #selectedFilter>
        <option value="name">Name</option>
        <option value="age">Age</option>
        <option value="gender">Gender</option>
        <option value="department">Department</option>
        <option value="address">Address</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
    </select>
    <!--<input #textbox type="text" [(ngModel)]="searchText" required />-->
</div>
<br/>
<label>Sort by:</label>
<button (click)="sortByName()">Name{{descByName? ARROW_UP:ARROW_DOWN}}</button>
<button [disabled]='isCards || isTiles' (click)="sortByAge()">Age{{descByAge? ARROW_UP:ARROW_DOWN}}</button>
<button [disabled]='isCards || isTiles' (click)="sortByGender()">Gender{{descByGender? ARROW_UP:ARROW_DOWN}}</button>
<button [disabled]='isTiles' (click)="sortByDepartment()">Department{{descByDepartment? ARROW_UP:ARROW_DOWN}}</button>
<button [disabled]='isTiles || isCards' (click)="sortByAddress()">Address{{descByAddress? ARROW_UP:ARROW_DOWN}}</button>
<button (click)="sortByPhone()">Phone{{descByPhone? ARROW_UP:ARROW_DOWN}}</button>
<button [disabled]='isCards || isTiles' (click)="sortByEmail()">Email{{descByEmail? ARROW_UP:ARROW_DOWN}}</button>
<br/>
<view-table *ngIf='isTable' [users]='Users'></view-table>
<cards *ngIf='isCards' [users]='Users'></cards>
<tiles *ngIf='isTiles' [users]='Users'></tiles>
<br/>
<button routerLink="/welcome" routerLinkActive="active">Go to welcome page</button>